:root {
    --dflt-bg: #d7f3fe;
    --dflt-bg-acc: #A5E4FC;
    --dflt-bg-dark: #d7f3fe;
    --dflt-bg-dark-tp: #d7f3fe00;
    --dflt-text: #e8fcfe;
}

/* light mode version of above goes here */

@font-face {
    font-family: 'Noto';
    src: url('../fonts/NotoSansNKoUnjoined-Regular.ttf');
}

@font-face {
    font-family: 'Norse-Bold';
    src: url('../fonts/Norse-Bold.otf');
}
html {
    height: 100vh;
    width: 100vw;
    font-family: 'Noto', sans-serif;
}

body {
    background-color: var(--dflt-bg);
    display: flex;
    height: 100%;
    margin: 0px;
}

.side-image-container {
    background-color: var(--dflt-bg-acc);
    height: 100%;
    --max-width: 550px;
    --min-width: calc(var(--min-width) / 1.5);
    width: var(--max-width);
    min-width: var(--min-width);
    background-image: url('../images/idaho_maybe.jpg');
    background-size: 100% 100%;
    flex-grow: 0;
    flex-shrink: .5;
    flex-basis: 1;
}

.page-header {
    width: 95%;
    height: 100px;
    margin-top: 150px;
    background-image: linear-gradient(to right, #010F0B00, #010f0b90 40%);
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
    clip-path: polygon(0% 0%, 94% 0%, 100% 30%, 100% 100%, 0% 100%);
}

.header-text {
    color: #fff;
    margin-right: 50px;
    font-size: 2.25rem;
    font-family: 'Norse-Bold';
    letter-spacing: .3rem;
}

.icon-image {
    height: 90px;
    width: 90px;
    border-radius: 10px;
}

.form-container {
    background-color: var(--dflt-bg);
    display: flex;
    flex-direction: column;
    --max-width: 700px;
    max-width: var(--max-width);
    width: 100%;
    font-size: .75rem;
    padding-left: 1.5rem;
    padding-top: 3rem;
}

.register-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.item-unit {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 45%;
}

.register-form > input {
    border-radius: 3px;
    flex-basis: 50%;
}

.submit-button {
    width: 75%;
    margin-top: 20px;
}

h1.text-desc {
    font-size: 2rem;
    margin: .5rem;
}

h2.text-desc {
    font-size: 1.5rem;
    margin: .5rem;
}